@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');

:root {
    font-size: 10px;
}

body {
    background-color: #07a13b;
    color: rgb(255,255,255);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

header {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    margin: 5px 10px;
    font-size: 2.5rem;;
}

header ul {
    display: flex;
    padding: 10px 10px 50px 10px;
}

h1 {
    font-size: 16rem;
    font-weight: 500;
    margin: 0;

}

.subtitle {
    font-size: 6rem;
}

h2 {
    margin: 0;
    font-weight: 300;
    font-size: 3.8rem;
    
}

h3 {
    margin: 0;
    font-size: 2rem;
   
}

.hero-section {
    margin-top: 15vh;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    align-items: center;
    position: fixed;
    flex-direction: column;

    bottom: 0;
    left: 0;
    width: 100vw;

}

.options {
    display: flex;
}

.options a {
    margin: 40px 10px;
}


footer ul {
    padding: 30px;
    display: flex;

}

a {
    text-decoration: none;
    color: rgb(255,255,255)
}










@media only screen and (max-width: 600px) {


.wave {
    fill: #046E27;
    width: 100vw;
    height: 55vh;
    position: fixed;
    bottom: 0;
    left: 0;

}



a:hover {
    color: rgb(138, 107, 156);
}

/*work page*/

.work-details {
    
    padding: 3rem;
    width: 80%;
}

.sub-pages-footer {
    position: relative;
}

/*about page*/

.about-me {
    padding-top: 0;
    width: 80%;
    text-align: center;
    font-size: 1.8rem;
   

}

img {
    width: 50%;
    border-radius: 35%;
    margin: 20px;
}

/*contact page*/


.form-submit {
    width: 70%;
}

.form-submit form {
    width: 100%;
}

.form-submit .form-row {
    display: flex;
    justify-content: space-evenly;
}

.form-row .form-control {
    width: 50%;
    border: none;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    font-family: 'Josefin Sans', sans-serif;
}

.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: none;
    font-size: 20px;
    margin: 5px 0 ;
    align-self: center;
}

.comment-box {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    align-self: center;
    width: 97%;
    margin: 0;
    resize: none;

}

.sub-btn-div {
    display: flex;
    align-items: flex-end;
    

}

.sub-btn {
    font-family: 'Josefin Sans', sans-serif;
    width: 25%;
    margin-top: 15px;
    padding: 5px;
    font-size: 20px;
    background-color: rgb(158,158,158);
    border: none;
    border-radius: 3px;
}


.form-submit .form-row {
    display: flex;
    flex-direction: column;
    margin: -2px;
    padding: 5px 0; 
   
}

   

 .form-submit .form-control {
    width: 100%;
    margin: 0 0 4px 0;
    padding: 1px;
    
}

.form-submit .comment-box {
    display: flex;
    width: 100%;
    /*padding:0;
    
    margin: 0;*/
    justify-content: center;

}

.comment {
    padding: 0;
   
}

.sub-btn {
    font-size: 2rem;
    width: 100%;
}

h1 {
    padding-top: 0;
    font-size: 12rem;
    font-weight: 300;
    margin: 0;
    color: rgba(255, 255, 255, 0.658)
    
}

section {
    padding: 0;
 }

.wave {
    fill: #046E27;
    width: 100vw;
    height: 35vh;
    position: fixed;
    bottom: 0;
    left: 0;

}

.subtitle {
    font-size: 2rem;
}
footer{
    max-height: 35vh;
}
footer .subtitle {
    text-align: center;
}

.about-me img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    justify-self: center;
}
p, a {
    font-size: 1.6rem;
}

td {
    font-size: 1.5rem;
    padding: 0.8rem;
}
table a {
    color: blue;
}


}